{% extends 'home.html' %}

{% block title %}Adicionar Filme{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Adicionar Filme à Sua Lista</h1>
    <form method="POST" class="bg-light p-4 rounded shadow-sm">
        {% csrf_token %}
        <div class="form-group">
            <label for="movie">Escolha um filme:</label>
            <select name="movie_id" class="form-control" required>
                <option value="">Selecione um filme</option>
                {% for movie in movies %}
                    <option value="{{ movie.id }}">{{ movie.title }} - {{ movie.director }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Adicionar</button>
    </form>
    <a href="{% url 'list' %}" class="btn btn-secondary mt-3">Voltar à lista de filmes</a>
</div>
{% endblock %}
